%h3
  Practical information
  %h2
    Where
    %h1

  %h2
    When
    %h1
      Junction Zero starts Thursday 5th of August 2019 at 14:00
      and ends Sunday 11th of August 2019 at 12:00.
  %h2
    Who
    %h1
      Junction Zero is written by Thomas Michael Hagen and Aleksander Gjøen
  