%ul.nav.justify-content-center
  %li.nav-item
    %a.nav-link.active{:href => "pages/about"} About
  %li.nav-item
    %a.nav-link{:href => "pages/practical"} Practical
  %li.nav-item
    %a.nav-link{:href => "https://goo.gl/forms/3jhAPWQepBw3XKfv2"} Registration

